
{% if applications is defined %}
<div class="d-flex flex-wrap w-100 h-100 p-9">
    {% for application in applications %}
    {% set 
        dataAction = 
            (application.action != 'window') ? 
            'data-'~application.action~'='~ attribute(application.applicationContent.json, application.action) : 
            'data-id=' ~ application.id 
    %}
    <div data-action="{{ application.action }}" {{ dataAction }} class="w-100px h-100px btn btn-app btn-shortcut m-8">
        <i class="fa fa-{{ application.icon }}" style="color: {{ application.color }};">
            <i class="fa {{ application.action | getMiniIcon }}"></i>
        </i>
        <small>{{ application.name }}</small>
        <small>{{ (application.processing == true) ? 'IN DEV' }}</small>
    </div>
    {% endfor %}
</div>
{% endif %}