<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>desktop - ancrom.com</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/framework.css') }}" rel="stylesheet" type="text/css">
        <!-- <link href="{{ asset('css/plugins.css') }}" rel="stylesheet" type="text/css"> -->
        <link href="{{ asset('css/widgets.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/font-icons.min.css') }}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body id="kt_body" class="toolbar-enabled overflow-hidden bg-body" data-kt-sticky-header="on" data-kt-header="on" data-kt-scrolltop="on" data-float-page="off" style="background-image: url({{ asset('img/bg/bg-'~ ((setting.background is defined) ? setting.background : '8') ~'.jpg') }});">        
        <div id="container" class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-column flex-column-fluid">
				
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid container-xxl h-100 align-items-center justify-content-end " id="kt_wrapper">
					<!--begin::Main-->
					<div class="topbar py-2 d-flex align-items-stretch flex-shrink-0" id="kt_topbar" style="z-index: 999;">
						<!--begin::Activities-->
						<div class="d-flex align-items-center mx-4 mx-lg-5">
							<!--begin::Drawer toggle-->
							<a class="btn btn-icon btn-custom w-lg-50px h-lg-50px w-50px h-50px w-sm-90px h-sm-90px flex-column" data-page="profile" data-pos="left" id="kt_activities_toggle">
								<!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
								<span class="svg-icon svg-icon-1 d-flex align-items-center flex-column">
									<i class="fa fa-user"></i>
								</span>
								<span class="focus">●</span>
								<!--end::Svg Icon-->
							</a>
							<!--end::Drawer toggle-->
						</div>
						<!--end::Activities-->
						<!--begin::Activities-->
						<div class="d-flex align-items-center  mx-4 mx-lg-5">
							<!--begin::Drawer toggle-->
							<a class="btn btn-icon btn-custom w-lg-50px h-lg-50px w-50px h-50px w-sm-90px h-sm-90px" data-page="project" data-pos="bottom" id="kt_activities_toggle">
								<!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
								<span class="svg-icon svg-icon-1 d-flex align-items-center flex-column">
									<i class="fa fa-flask"></i>
								</span>
								<span class="focus">●</span>
								<!--end::Svg Icon-->
							</a>
							<!--end::Drawer toggle-->
						</div>
						<!--end::Activities-->
						<!--begin::Activities-->
						<div class="d-flex align-items-center  mx-4 mx-lg-5">
							<!--begin::Drawer toggle-->
							<a class="btn btn-icon btn-custom w-lg-50px h-lg-50px w-50px h-50px w-sm-90px h-sm-90px" data-page="contact" data-pos="right" id="kt_activities_toggle">
								<!--begin::Svg Icon | path: icons/duotune/general/gen032.svg-->
								<span class="svg-icon svg-icon-1 d-flex align-items-center flex-column">
									<i class="fa fa-envelope"></i>
								</span>
								<span class="focus">●</span>
								<!--end::Svg Icon-->
							</a>
							<!--end::Drawer toggle-->
						</div>
						<!--end::Activities-->
					</div>
					<!--end::Main-->
					<div id="welcome" class="float-page init-page" style="margin-top: 30px;">
						<div class="col-lg-6 col-md-9 col-sm-12 mx-auto">
							<div class="alert bg-light position-relative">
								<div class="position-absolute top-0 end-0 d-flex justify-content-end">
									<span id="welcome_close" class="btn btn-sm btn-os text-white-soft text-code fw-bold">
										<i class="fa fa-times text-white-soft opacity-75 p-0" style="font-size: 1.2rem !important;"></i>
									</span>
								</div>
								<h2 class="m-0 p-0">Welcome to ancrom.com</h2>
								<small>the website developped by Olivier Maurel</small>
								<p>Bienvenue sur mon site portfolio</p>
							</div>
						</div>
					</div>
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
			<div id="profile" data-load="false" class="page d-flex flex-column flex-column-fluid float-page float-page-left col-lg-8 m-auto" style="z-index: 10;">
				<div class="col-lg-12 m-auto h-100 p-9">

				</div>
			</div>
			<div id="contact" data-load="false" class="page d-flex flex-column flex-column-fluid float-page float-page-right col-lg-8 m-auto" style="z-index: 10;">
				<div class="col-lg-12 m-auto h-100 p-9">

				</div>
			</div>
			<div id="project" data-load="false" class="page d-flex flex-column flex-column-fluid float-page float-page-bottom col-lg-8 m-auto" style="z-index: 9;">
				<div class="col-lg-12 m-auto h-100 p-9">

				</div>
			</div>
			<div class="position-fixed d-flex justify-content-between top-0 start-0 w-100 px-2" style="height: 30px; z-index: 999; background-color: rgba(61, 61, 61, 0.904);">
				<div class="col-4 d-flex justify-content-start align-items-center">
					<span data-app="application" class="btn btn-sm btn-os text-white-soft text-code fw-bold btn-win-app">
						<!-- <i class="fa fa-bars text-white"></i> --> <u>A</u>pplications
					</span>
				</div>
				<div class="col-4 d-flex justify-content-center align-items-center">
					<span id="datetime" class="btn btn-sm btn-os text-white-soft text-code fw-bold" style="white-space:pre;"></span>
				</div>
				<div class="col-4 d-flex justify-content-end align-items-center">
					<span id="settings" class="btn btn-sm btn-os text-white-soft text-code fw-bold menu-dropdown" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
						<!-- <i class="fa fa-bars text-white"></i> --> <u>S</u>ettings
					</span>
						
					<div class="menu menu-sub menu-sub-dropdown menu-column w-250px w-lg-325px win-app menu-setting position-absolute mt-2 p-6" data-kt-menu="true">
						<div class="d-flex justify-content-center align-items-center text-code text-white-soft row">
							<div class="border-bottom border-white-soft d-flex flex-column justify-content-center align-items-center col-12 py-3 my-3">
								<h4>ancrom.com</h4>
								<small>by Olivier Maurel</small>
							</div>
							<div class="col-12">
								<span class="fw-bold"><small class="text-muted">host:</small> {{ server.host }}</span>
							</div>
							<div class="col-12">
								<span class="fw-bold"><small class="text-muted">addrip:</small> {{ server.addrip }}</span>
							</div>
							<div class="col-6">
								<span class="fw-bold"><small class="text-muted">status:</small> <span style="color: {{ (server.status == '200') ? 'green' : 'red' }}">●</span> {{ server.status }}</span>
							</div>
							<div class="col-6">
								<span class="fw-bold"><small class="text-muted">method:</small> {{ server.method }}</span>
							</div>
							<div class="col-6">
								<span class="fw-bold"><small class="text-muted">protocol:</small> {{ server.protocol }}</span>
							</div>
							<div class="col-6">
								<span class="fw-bold"><small class="text-muted">cache:</small> {{ server.cache }}</span>
							</div>
						</div>
						<div class="border-top border-white-soft py-3 my-3 row">
							<span class="btn btn-sm btn-os btn-win-app text-white-soft text-code fw-bold menu-dropdown justify-content-start" data-app="setting_background" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
								<i class="fa fa-tv me-1 w-20px" style="font-size: small !important"></i><u>B</u>ackgrounds
							</span>
							<span class="btn btn-sm btn-os btn-win-app text-white-soft text-code fw-bold menu-dropdown justify-content-start" data-app="setting_darkmode" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
								<i class="fa fa-moon me-1 w-20px" style="font-size: small !important"></i>Dar<u>k</u> mode
							</span>
							<span class="btn btn-sm btn-os btn-win-app text-white-soft text-code fw-bold menu-dropdown justify-content-start" data-app="setting_language" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
								<i class="fa fa-globe me-1 w-20px" style="font-size: small !important"></i><u>L</u>anguages
							</span>
							<span class="btn btn-sm btn-os btn-win-app text-white-soft text-code fw-bold menu-dropdown justify-content-start" data-app="setting_shortcut" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
								<i class="fa fa-keyboard me-1 w-20px" style="font-size: small !important"></i>Short<u>c</u>uts
							</span>
							<span class="btn btn-sm btn-os btn-win-app text-white-soft text-code fw-bold menu-dropdown justify-content-start" data-app="setting_information" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
								<i class="fa fa-question me-1 w-20px" style="font-size: small !important"></i><u>I</u>nformations
							</span>
						</div>
					</div>
						
				</div>
			</div>
			<div id="mapctrl" class="text-code float-page init-page text-white d-none" style="background-color: #0003; z-index: 12;">
				<div class="d-flex flex-column justify-content-center align-items-center h-100 overflow-hidden">
					<h1>TUTORIAL PLAN SITE</h1>
					<div class="d-flex flex-column">
						<div class="col-12 d-flex">
							<div class="window" data-pos="left">Profil</div>
							<div class="window window-active" data-pos="off"></div>
							<div class="window" data-pos="right">Contact</div>
						</div>
						<div class="col-12 d-flex justify-content-center">
							<div class="window" data-pos="bottom">Projets</div>
						</div>
					</div>
				</div>
			</div>
			<div id="win_app" class="float-page init-page" style="z-index: 11;">
				<div class="col-lg-7 col-md-9 col-sm-12 mx-auto">
					<div class="card win-app p-1 h-100" style="min-height: 40vh;max-height: calc(80vh - 90px);max-width: 100vw;margin: calc(10vh) auto;">
						<div class="card-head d-flex justify-content-between position-relative">
							<div id="win_app_head" class="col-12">

							</div>
							<div class="position-absolute top-0 end-0 d-flex justify-content-end">
								<span id="win_app_close" class="btn btn-sm btn-os text-white-soft text-code fw-bold">
									<i class="fa fa-times text-white-soft opacity-75 p-0" style="font-size: 1.2rem !important;"></i>
								</span>
							</div>
						</div>
						<div id="win_app_body" class="card-body overflow-hidden h-100 p-0 m-5">
							
						</div>
					</div>
				</div>
			</div>
			
		</div>
        <script src="{{ asset('js/framework.js') }}"></script>
        <script src="{{ asset('js/plugins.js') }}"></script>
		{{ include('js/functions.js.twig') }}
		{{ include('js/events.js.twig') }}
    </body>
</html>
